Package: ru.anonz.vkpreferences
Name: VKPreferences
Depends: mobilesubstrate, preferenceloader, firmware (>=7.0)
Conflicts: com.ilyakamb.offlineforvkipad1.7, com.ilyakamb.returnaudioforipad 
Version: 2.1.3-beta
Architecture: iphoneos-arm
Description: VKPreferences для iPad. Оффлайн режим, позволяет не читать сообщения, скрывает набор текста, восстанавливает музыку и (!)ручное кэширование, удаляет рекламу из приложения, выключает "Безопасный поиск". (!)Добавляет в боковое меню приложения 3 переключателя: Оффлайн режим, Скрыть набор текста, Не читать сообщения.
Maintainer: Alexander Orlov <anonym0uz@f0x.pw>
Author: Alexander Orlov <anonym0uz@f0x.pw>
Section: Tweaks
