<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Настройки меню</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mMain</string>
			<key>label</key>
			<string>Страница</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mNews</string>
			<key>label</key>
			<string>Нововсти</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mAnswers</string>
			<key>label</key>
			<string>Ответы</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mMessages</string>
			<key>label</key>
			<string>Сообщения</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mFriends</string>
			<key>label</key>
			<string>Frends</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mGroups</string>
			<key>label</key>
			<string>Groups</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mPhotos</string>
			<key>label</key>
			<string>Photos</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mVideos</string>
			<key>label</key>
			<string>Videos</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mAudios</string>
			<key>label</key>
			<string>Audios</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mFavorites</string>
			<key>label</key>
			<string>Favorites</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mSettings</string>
			<key>label</key>
			<string>Settings</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mHelp</string>
			<key>label</key>
			<string>Help</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mOffline</string>
			<key>label</key>
			<string>Offline</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mDontRead</string>
			<key>label</key>
			<string>Don&apos;t read</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ru.anonz.vkpreferencesbundle</string>
			<key>key</key>
			<string>mHideType</string>
			<key>label</key>
			<string>Hide typing</string>
			<key>PostNotification</key>
			<string>ru.anonz.vkpreferencesbundle.post</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>get</key>
			<string>getPreferenceValue:</string>
		</dict>
	</array>
	<key>title</key>
	<string>VK Preferences</string>
</dict>
</plist>
